@model IEnumerable<PersonalOrganizer.Models.TaskItem>

@{
    ViewData["Title"] = "Мої завдання";
}

<h2>Мої завдання</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Створити нове завдання</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Дедлайн</th>
            <th>Пріоритет</th>
            <th>Статус</th>
            <th>Категорія</th>
            <th>Дії</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td class="@item.TimeColorClass">@item.DueDate.ToShortDateString()</td>
                <td>@item.Priority</td>
                <td>@item.Status</td>
                <td>@(item.Category?.Name ?? "Без категорії")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Редагувати</a>
                </td>
                <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger ms-1">Видалити</a></td>
            </tr>
        }
    </tbody>
   
</table>